*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    /* position: absolute;
    width: 450px;
    top: 350px;
    left: 150px; */
    background-color: grey;
}
.box{
    width: 100px;
    height: 100px;
    /* display: inline-block; */
}

.box-red{
    /* width: initial;
    height: initial; */
    background-color: red;
    /* position: absolute;
    top: 0;
    right: 0;
    /* top: 30px; */
    /* left: 50px;
    bottom: 50%; */ 

}
.box-blue{
    background-color: blue;
}
.box-green{
    background-color: green;
}